<h1 class="text-center text-dark"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 60 %>

<div class="text-center mt-4">
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
</div>

<h3 class="text-center">Articles</h3>

<%= render 'articles/article' %>