<%# <h1>Welcome to the Homepage</h1> %>
<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center mb-0">
      <h1 class="display-4">Welcome to Rails !</h1>
      <p class="lead description">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p class="description">It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead ">
        <class "btn btn-success btn-lg">
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
      </p>
    </div>
  </div>
</div>

<%# <%= link_to 'Articles listing', articles_path %> 
<%# <%= link_to 'About page', about_path  %> 




